.globalFooter {
  background-color: #f9f9f9;
  width: 100%; /* 宽度设置为100% */
  position: fixed; /* 固定在页面 */
  bottom: 0; /* 定位在页面底部 */
  left: 0; /* 左侧对齐 */
  text-align: center; /* 内容居中 */
  padding: 10px 0; /* 添加一些内边距 */
}
